<% if @tourpackage.blank? %>
	<h1>No tour package found</h1>
	
	<% else %>
	<div><h1><%= @tourpackage.title %></h1>
		<p><%= @tourpackage.desc %></p>
		<p><%= @tourpackage.price %></p>
	</div>
	
	<% end %>
	