
<table class="table table-striped">
	<% @tours.each do |t| %>
<tr><td><%= t.title %></td>
	<td><%= link_to "Edit", "/tourpackages/#{t.id}/edit" %></td><td><%= link_to "Destroy", "/tourpackages/#{t.id}/" ,:method => 'DELETE' %></td></tr>
	<% end %>
</table>